google-genai==2.10.0
google-adk==2.3.0
duckduckgo_search==8.1.1
opentelemetry-exporter-otlp
opentelemetry-exporter-gcp-logging
opentelemetry-exporter-gcp-trace
pydantic
numpy
python-dotenv
mcp>=1.2.0
